.first {
    position: relative;
    animation-name: first;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: 3;
}
@keyframes first {
    0%   {left:0px; top:0px;}
    33%  {left:200px; top:0px;}
    67%  {left:200px; top:200px;}
    100%  {left:0px; top:200px;}
}
.second {
    position: relative;
    animation-name: second;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: 3;
}
@keyframes second {
    0%   {left:0px; top:0px;}
    33%  {left:0px; top:200px;}
    67%  {left:200px; top:200px;}
    100%  {left:200px; top:0px;}
}

.third {
    position: relative;
    animation-name: third;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: 3;
}
@keyframes third {
    0%   {left:0px; top:0px;}
    33%  {left: -200px; top:0px;}
    67%  {left: -200px; top:200px;}
    100%  {left: 0px; top:200px;}
}