h1 {color:blue;}
p {
    color:lightblue;
}
/* below is a group selector - selects more than one element */
p,h1 {font-family:Verdana, Geneva, Tahoma, sans-serif;}
/* I'm looking for a tags inside of p tags below */
P a {color:red;}

/* format for an id selector */
#amazonlink {color: green;}

/* format for an class selecor */
.fcolor {color:chocolate;}