nav {background-color:#FEECE2;}
nav a {color:#472b2b;}
nav a:hover {background-color:#FFF7F1 ;}
nav {padding:10px; margin-bottom:30px;}
body {font-family:'Times New Roman', Times, serif;}
body {background-color:#FFF7F1 ;}
p {color:#a29187;}
h1,h2 {color:#b69285;}
.evenrow {background-color:#e0d7db;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
dl {color:#a29187;}
a {color:#472b2b}