nav {background-color:#FEECE2; padding:10px; margin-bottom:30px;}
nav a {color:#472b2b;}
nav a:hover {background-color:#FFF7F1 ;}
body {font-family:'Times New Roman', Times, serif; background-color:#FFF7F1 ;}
p {color:#a29187;}
h1,h2 {color:#b69285;}
.evenrow {background-color:#e0d7db;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
dl {color:#a29187;}
a {color:#472b2b;}
footer div, .row1, .row2 {display: flex;}
.quote {flex: 1; float: right;}
.copy {flex: 1;}
.row1, .row2 {padding:20px; flex:1; background-color:#f7e3d4; border-radius: 1em; margin: 10px;}
.col1, .col2, .col3, .col4 {padding:10px; margin:10px;}